<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GameVaultDB"
			 connectionString="Data Source=DESKTOP-NNLBQ90\SQLEXPRESS;Initial Catalog=GameVaultDB;Integrated Security=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>